<h1>Editing maintenance request</h1>

<%= render "form", maintenance_request: @maintenance_request %>

<br>

<div>
  <%= link_to "Show this maintenance request", @maintenance_request %> |
  <%= link_to "Back to maintenance requests", maintenance_requests_path %>
</div>
